body{
    /*background-color: #224870;*/
    /*background-color: #ffffff ;*/
    background: linear-gradient(175deg, #fff, #5e115e);
}
    /*Inicio del Header en Index*/
.encabezado {
    /*height: 86px;*/
    /*background-color: #E8D2AE;*/
    /*background-color: #8cce91;*/
    background-color: #cda9e08a;
}

.caja_nombre{
    margin-top: 14px;
}
.caja_nombre h4 {
    font-size: 25px;
}
.navegador {    
    margin-top: 14px;
}
.navegador ul li a {
    font-size: 19px;
}
.navegador ul li a:hover {
    font-size: 18px;
    border: solid 1px black;
    /*border: solid 1px #fff;*/
}   /*Final del Header en Index*/

    /*Inicio del Main en Index*/
.img_primero {
    /*background-color:  #4EA5D9;*/
}
.img_primero img{
    width: 350px;
    margin-top: 30px;
    box-shadow: 0 0 14px 0 #000000
}
.img_primero a h4 {
    text-align: center;
    margin-top: 10px;
}
.img_segundo {
    /*background-color: #4EA5D9;*/
}
.img_segundo img {
    width: 350px;
    margin-top: 30px;
    box-shadow: 0 0 14px 0 #000000;
}
.img_segundo h4 {
    text-align: center;
    margin-top: 10px;
}
.texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   /*background-color: #4EA5D9;*/
 }
#caja_padre {
    display: flex;
    justify-content: space-between;
}   /*Final del Main en Index*/

    /*Inicio del Footer en Index*/
.pie {
    /*background-color: #4EA5D9;*/
    background-color: #cda9e08a;
}
#pie_text {
    margin: 0px;
    font-size: 14px;
    text-align: center;
}   /*Final del Footer en Index*/


/*Inicio de la Segunda Página "About"*/
    /*Inicio del Main en About*/
.informacion h2 {
    font-size: 30px;
}
.informacion p {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descripcion {
    /*background-color: #5e115e;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion img {
    height: 200px;
    margin: 0 3px;
    box-shadow: 0 0 14px 0 #000000;
    border-radius: 200px;
}
.imagen_js {
    height: 180px;
}
.imagen_react {
    height: 180px;
}

.imagen_python {
    height: 180px;
} /*Final del Main en About*/

/*Inicio de la Tercera pagina "Contact"*/
