body {
    background-color: rgb(250, 250, 250);
}
    /*Inicio del Header en Index*/
.encabezado {
    background-color: rgb(240, 240, 240);
}
.caja_nombre h4 {
    font-size: 25px;
}
.navegador ul li a {
    font-size: 20px;
    margin-top: 1px;
}
.navegador ul li a:hover {
    font-size: 19px;
    background-color: blueviolet;
}   /*Final del Header en Index*/

    /*Inicio del Main en Index*/
.img_primero {
    text-align: center;
}
.img_primero img{
    width: 350px;
    box-shadow: 0 0 14px 0 #000000
}
.img_primero a h4 {
    text-align: center;
    margin-top: 10px;
}
.img_segundo {
    text-align: center;
}
.img_segundo img {
    width: 350px;
    box-shadow: 0 0 14px 0 #000000;
}
.img_segundo h4 {
    text-align: center;
    margin-top: 10px;
} /*Final del Main en Index*/

    /*Inicio del Footer en Index*/
.pie {
    /*background-color: #4EA5D9;*/
    background-color: rgb(240, 240, 240);
}
#pie_text {
    margin: 0px;
    font-size: 14px;
    text-align: center;
}   /*Final del Footer en Index*/


/*Inicio de la Segunda Página "About"*/
    /*Inicio del Main en About*/
.informacion h2 {
    font-size: 30px;
}
.informacion p {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descripcion {
    /*background-color: #5e115e;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion img {
    margin: 0 3px;
    box-shadow: 0 0 19px #000000;
    border-radius: 200px;
}
.img_conf {
    height: 180px;
} /*Final del Main en About*/

/*Inicio de la Tercera pagina "Contact"*/
.img_contact {
    height: 100px;
}
picture .img_contact:hover {
    height: 90px;
}